  <DIV class="footer-container">
    <DIV class="footer-inner">
      <DIV>
        <A href="http://www.ftchinese.com/m/corp/aboutus.html">关于我们</A>
        <A href="https://ft.wd3.myworkdayjobs.com/FT_Chinese_External_Careers" target="_blank">加入我们</A>
        <A href="http://www.ftchinese.com/m/corp/faq.html">问题回馈</A>
        <A href="http://www.ftchinese.com/m/corp/contact.html">联系方式</A>
        <A href="http://www.ftchinese.com/m/corp/partner.html">合作伙伴</A>
        <A href="http://www.ftchinese.com/m/corp/service.html">服务条款</A>
        <A href="http://www.ftchinese.com/m/corp/sales.html">广告业务 </A>
        <A href="http://www.ftchinese.com/m/corp/copyright.html">版权声明</A>
        <A href="http://www.ftchinese.com/m/marketing/ftc.html">最新动态</A>
      </DIV>
      <P>
        <SPAN class="copyright"><B>© The Financial Times Ltd <script>date=new Date;document.write(date.getFullYear());</script></B></SPAN>
        <SPAN><ACRONYM title="Financial Times">FT</ACRONYM> and
'Financial Times' are trademarks of The Financial Times
Ltd.</SPAN>
      </P>
    </DIV>
  </DIV>