@import "base.scss";
@import "header.scss";
@import "footer.scss";


.agreement-container{
    margin: 15px 10px;
    font-size: 15px;
}
h3{
   margin: 10px 0px;  
}
p{
    margin: 5px 5px;
    word-spacing: 6px;
    
}

.service-select-btn{
    text-align: center; 
}
.service-select-btn button{
    padding: 10px 20px;
    background-color: #0d7680;
    color: #514f4e;
    font-size: 14px;
    width: 100px;
    line-height: 60%;
    height: 60%;
    position: relative;
    top: 20%;
    a{
        color: white;
    }
}
.service-select-btn  .agree{
    margin-left: 15px;
    color: black;
    border: 0px;
    color: white;
}
.service-select-btn  .disagree{
    background-color: #e9ded0;
    margin-right: 15px;
    border: 0px;
}
.out-select{
    position: fixed;
    background-color: #fff1e5;
    bottom: 0px;
    margin: 0 auto;
    width: 100%;
    height: 10%;
    z-index: 100;
} 

    




   
