@import "base.scss";
@import "header.scss";
@import "footer.scss";


.agreement-container{
    margin: 15px 10px 60px;
    font-size: 16px;
}
h3{
   margin: 10px 0px;  
}
p{
    margin: 8px 5px;
    word-spacing: 6px;
    line-height: 25px;
}

.service-select-btn{
    text-align: center; 
    position: fixed;
    background-color: #fff1e5;
    bottom: 0px;
    margin: 0 auto;
    width: 100%;
    height: 60px;
    z-index: 100;
}
.service-select-btn button{
    padding: 10px 20px;
    background-color: #0d7680;
    color: #514f4e;
    font-size: 14px;
    width: 100px;
    line-height: 60%;
    height: 60%;
    position: relative;
    top: 20%;
}
.service-select-btn  .agree{
    // margin-left: 15px;
    border: 0px;
    a{
        color: white;
    }
}
.service-select-btn  .disagree{
    background-color: #e9ded0;
    // margin-right: 15px;
    border: 0px;
    a{
        color: #514f4e;
    }
    display: none;
}


    




   
