@import "o-colors/main";
@import "o-grid/main";

$grid-background: white;
$grid-highlight: white;
$teal-1: #26747a;

body {
	@include oColorsFor(page);
  margin: 0;
  padding: 0;
}
.o-member__heading {
  margin-top: 2em;
  p {
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
    color: $teal-1;
  }
}

.is-member {
  .o-member__login {
    display: none;
  }
}

.o-grid-container {
  @include oGridContainer;
}

.o-grid-row {
  @include oGridRow;
}

.o-member {
  @include oGridColspan(12);
  @include oGridRespondTo(S) {
    @include oGridColspan(6);
  }
  @include oGridRespondTo(L) {
    @include oGridColspan(4);
  }

  @each $layout-name in map-keys($o-grid-gutters) {
    @if $layout-name == 'default' {
      margin-bottom: oGridGutter();
    } @else {
      @include oGridRespondTo($layout-name) {
        margin-bottom: oGridGutter($layout-name);
      }
    }
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;

    right: 0;
    background-color: $grid-background;
    z-index: -1;
    @each $layout-name in map-keys($o-grid-gutters) {
      @if $layout-name == 'default' {
        left: oGridGutter();
      } @else {
        @include oGridRespondTo($layout-name) {
          left: oGridGutter($layout-name);
        }
      }
    }    
  }
  &__title {
    text-align: center;
    margin: 0;
    padding: 1em 0;
  }
  &__subscribe {
    text-align: center;
    a {
      display: inline-block;
      padding: 8px 18px;
      border: 1px solid $teal-1;
      box-sizing: border-box;
      text-decoration: none;
      color: $teal-1;
      background-color: transparent;
    }
    p {
      margin: 0;
      padding: 1em 0;
      color: $teal-1;
    }
  }
  &__benefits {
    list-style: none;
    margin: 0;
    padding:0 0 1em 0;

    li {
      background-image: url("https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:tick?tint=26747a&format=svg&source=ftchinese");
      background-repeat: no-repeat;
      background-position: left top;
      background-size: 1.5em;
      padding-left: 1.5em;
      margin: 0.5em 1em;
    }
  }
}

.o-member__standard {
  &:after {
    background-color: $grid-highlight;
  }
  .o-member__subscribe a {
    background-color: $teal-1;
    border-color: $teal-1;
    color: #fff;
  }
}

.welcome-guide {

  margin: auto;
  padding: 0 60px;
  .words{
    width: 60%;
    float:left;
  }
  .show-image {
    float:right;
  }
  .clear-class {
    clear:both;
  }
  
}

.mode {
  img{
    background-image: url("https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:tick?tint=26747a&format=svg&source=ftchinese");
      background-repeat: no-repeat;
      background-position: left top;
      background-size: 1.5em;
  }
}

#preview-overlay {
    position: relative;
    overflow: visible;
}

.o-overlay-shadow {
    position: fixed;
    z-index: 1;
    opacity: 1;
    transition: opacity .3s ease-in-out;
    background: rgba(0,0,0,.7);
    height: 150%;
    width: 100%;
    top: 0;
    left: 0;
}
#preview-box { 
  right:40%;
  top:280px;
  bottom: auto;
  width: 300px;
  overflow: visible;
  position: absolute;
  z-index: 60000;
  font-family:宋体;
  font-size:20px;
  line-height:35px;
  opacity: 1;
  background: #F5F5F5;
 }
 #preview-overlay{
  // display: none;
 }
//  #preview-box {
//     right: 5px;
//     top: 13px;
//     bottom: auto;
//     left: auto;
//     width: 300px;
//     overflow: visible;
//     position: absolute;
//     z-index: 2;
// }