 @media (max-width:61.24em) {
      .header-container {
        display: none
      }
    }

    .o-nav__placeholder {
      padding: 0;
      margin: 0;
      border: 0
    }

    @media (max-width:61.24em) {
      .o-nav__placeholder {
        height: 44px;
        background-color: transparent
      }
    }

    @media (min-width:61.25em) {
      .o-nav__placeholder {
        position: relative;
        z-index: 99999999;
        height: 104px;
        background-color: transparent
      }
    }

    @media \0screen {
      .o-nav__placeholder {
        position: relative;
        z-index: 1
      }
    }

    .o-nav {
      background-color: #333;
      color: #fff;
      position: relative
    }

    @media (max-width:61.24em) {
      .o-nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
        height: 44px
      }
    }

    @media (min-width:61.25em) {
      .o-nav:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        height: 30px;
        -webkit-transition: height .3s;
        transition: height .3s;
        background-color: #505050
      }
      .o-nav-sticky .o-nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999999
      }
      .o-nav-sticky .o-nav:after {
        height: 0
      }
    }

    .o-nav__meganav-placeholder {
      display: none
    }

    .o-nav__outer {
      position: relative;
      box-sizing: border-box;
      margin-left: auto;
      margin-right: auto;
      min-width: 240px;
      max-width: 1260px;
      padding-left: 10px;
      padding-right: 10px
    }

    @media (min-width:61.25em) {
      .o-nav__outer {
        padding: 0 30px
      }
    }

    @media \0screen {
      .o-nav__outer {
        padding-left: 20px;
        padding-right: 20px;
        width: 980px
      }
    }

    .o-nav__inner {
      position: relative;
      box-sizing: border-box;
      display: block;
      min-width: 100%;
      max-width: 100%;
      width: 100%
    }

    .site-map {
      box-sizing: border-box;
      margin-left: auto;
      margin-right: auto;
      min-width: 240px;
      max-width: 1260px;
      padding: 5px 10px 10px
    }

    @media (min-width:61.25em) {
      .site-map {
        display: none
      }
    }

    .site-map__container {
      box-sizing: border-box;
      display: block;
      min-width: 100%;
      max-width: 100%;
      width: 100%
    }

    .site-map__items li {
      display: inline-block;
      background-image: url(http://s.ftimg.net/img/png/arrow-right.png);
      background-image: url(http://s.ftimg.net/img/svg/arrow-right.svg);
      background-repeat: no-repeat;
      background-position: 0;
      background-size: 15px;
      padding-left: 15px
    }

    .site-map__items li a {
      font-size: 1.05em;
      line-height: 120%
    }

    .site-map__items li a:hover {
      color: #2e6e9e
    }

    .site-map__items li:first-child {
      background-image: none;
      padding-left: 0
    }

    .o-header__masthead-mobile {
      padding: 11.5px 0;
      margin: 0
    }

    @media (min-width:61.25em) {
      .o-header__masthead-mobile {
        display: none
      }
    }

    .o-header__masthead-mobile>a {
      display: block;
      margin: 0 auto;
      padding: 0;
      height: 21px;
      width: 98.7px;
      background-image: url(http://s.ftimg.net/img/png/brand-ftc-masthead-white.png);
      background-image: url(http://s.ftimg.net/img/svg/brand-ftc-masthead-white.svg);
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: contain
    }

    .o-header__masthead-mobile>a span {
      display: none
    }

    @media (max-width:46.24em) {
      .o-nav--open {
        overflow-y: hidden;
        height: 100%
      }
    }

    .o-nav__container {
      position: absolute;
      top: 0;
      height: 44px
    }

    .o-nav__meganav {
      list-style: none;
      margin: 0;
      padding: 0
    }

    @media (max-width:61.24em) {
      .o-nav__meganav {
        background-color: #fff1e0;
        color: #333;
        position: absolute;
        display: none
      }
      .o-nav__meganav:before {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 41.6666666667%;
        background-color: #333;
        color: #fff;
        z-index: -1
      }
      .nav-toggle[aria-pressed=true]~.o-nav__meganav {
        position: fixed;
        top: 44px;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 1;
        overflow-y: scroll;
        width: 100%;
        display: block
      }
    }

    @media (max-width:61.24em) {
      .is-member .nav-section.login,
      .nav-section.logout {
        display: none
      }
      .is-member .nav-section.logout {
        display: block
      }
    }

    .nav-section-head {
      box-sizing: border-box
    }

    @media (max-width:61.24em) {
      .nav-section-head {
        border: 0;
        border-radius: 0;
        outline: none;
        padding: 0 15px;
        margin: 0;
        display: block;
        min-width: 41.6666666667%;
        max-width: 41.6666666667%;
        width: 41.6666666667%;
        height: 40px;
        line-height: 40px;
        text-align: right;
        text-decoration: none;
        background-color: #333;
        color: #fff;
        font-size: 14px;
        font-weight: 700
      }
      .nav-section-head:after {
        content: "";
        padding-left: 1em;
        margin-right: -15px;
        background-image: url(http://static.ftchinese.com/ftc-icons/png/white/arrow-right-white.png);
        background-image: url(http://static.ftchinese.com/ftc-icons/svg/white/arrow-right-white.svg);
        display: inline-block;
        width: 10px;
        height: 10px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50%
      }
      .nav-section-head[aria-selected=true] {
        background-color: #fff1e0;
        color: #333;
        font-weight: 700
      }
      .nav-section-head[aria-selected=true]:after {
        background-image: url(http://static.ftchinese.com/ftc-icons/png/arrow-right.png);
        background-image: url(http://static.ftchinese.com/ftc-icons/svg/arrow-right.svg);
        display: inline-block;
        width: 10px;
        height: 10px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50%
      }
    }

    .nav-section-head.desktop {
      display: none
    }

    .nav-section-head.mobile {
      display: block
    }

    @media (min-width:61.25em) {
      .nav-section-head.mobile {
        display: none
      }
    }

    .nav-items {
      box-sizing: border-box;
      list-style: none;
      margin: 0;
      padding: 0
    }

    @media (max-width:61.24em) {
      .nav-items {
        padding-left: 10px;
        min-width: 58.3333333333%;
        max-width: 58.3333333333%;
        width: 58.3333333333%;
        position: fixed;
        right: 0;
        top: 44px;
        bottom: 0;
        padding: 0 0 0 15px;
        min-height: 340px;
        overflow-y: scroll;
        background-color: #fff1e0;
        color: #333
      }
      .nav-section-head~.nav-items {
        display: none
      }
      .nav-section-head[aria-selected=true]~.nav-items {
        display: block
      }
    }

    .nav-link {
      box-sizing: border-box;
      text-decoration: none
    }

    @media (max-width:61.24em) {
      .nav-link {
        border: 0;
        border-radius: 0;
        outline: none;
        padding: 0 15px;
        margin: 0;
        display: block;
        min-width: 41.6666666667%;
        max-width: 41.6666666667%;
        width: 41.6666666667%;
        height: 40px;
        line-height: 40px;
        text-align: right;
        text-decoration: none;
        background-color: #333;
        font-size: 14px;
        font-weight: 700
      }
      .nav-link,
      .nav-link:hover {
        color: #fff
      }
      .nav-items .nav-link {
        display: block;
        padding-left: 0;
        padding-right: 0;
        min-width: 0;
        max-width: none;
        width: auto;
        height: 32px;
        line-height: 32px;
        text-align: left;
        background-color: #fff1e0;
        color: #333;
        font-size: 16px;
        font-weight: 400
      }
      .nav-items .nav-link:focus,
      .nav-items .nav-link:hover {
        text-decoration: underline
      }
    }

    .nav-sub-items {
      display: none
    }

    .nav-toggle {
      background-color: #333;
      color: #fff;
      box-sizing: border-box;
      border: 0;
      padding: 0;
      margin: 0;
      outline: none;
      cursor: pointer;
      display: inline-block;
      line-height: 44px;
      height: 100%;
      width: 44px;
      text-align: left;
      vertical-align: middle
    }

    @media (min-width:61.25em) {
      .nav-toggle {
        display: none
      }
    }

    .nav-toggle span {
      display: none
    }

    @media (max-width:61.24em) {
      .nav-toggle:before {
        content: "";
        vertical-align: middle;
        background-image: url(http://static.ftchinese.com/ftc-icons/png/white/hamburger-white.png);
        background-image: url(http://static.ftchinese.com/ftc-icons/svg/white/hamburger-white.svg)
      }
      .nav-toggle:before,
      .nav-toggle[aria-pressed=true]:before {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50%
      }
      .nav-toggle[aria-pressed=true]:before {
        background-image: url(http://static.ftchinese.com/ftc-icons/png/white/cross-white.png);
        background-image: url(http://static.ftchinese.com/ftc-icons/svg/white/cross-white.svg)
      }
    }

    @media (min-width:61.25em) {
      .o-nav__container {
        position: relative
      }
    }

    @media \0screen {
      .o-nav__container {
        position: relative
      }
    }

    @media (min-width:61.25em) {
      .o-nav__meganav {
        background-color: #333;
        color: #fff;
        white-space: nowrap
      }
    }

    @media (min-width:61.25em) {
      .nav-section {
        display: inline-block;
        position: relative
      }
      .nav-section:hover,
      .nav-section[aria-selected=true] {
        background-color: #505050
      }
      .nav-section.mobile {
        display: none
      }
      .nav-section[aria-selected=true] {
        position: static
      }
    }

    @media (min-width:61.25em) {
      .nav-section-head.desktop {
        border: 0;
        border-radius: 0;
        padding: 0 15px;
        margin: 0;
        line-height: 44px;
        display: block;
        text-decoration: none;
        background-color: inherit;
        color: #fff;
        font-size: 17px;
        -webkit-transition: background-color .3s;
        transition: background-color .3s
      }
    }

    @media (min-width:61.25em) {
      .nav-items,
      .nav-section-head.desktop:hover {
        background-color: #505050;
        color: #fff
      }
      .nav-items {
        position: absolute;
        left: 0;
        min-width: 100%;
        z-index: 1;
        display: none
      }
      .nav-section-head.desktop:hover~.nav-items,
      .nav-section:hover .nav-items {
        z-index: 5;
        display: block
      }
      .o-nav-sticky .nav-section-head.desktop:hover~.nav-items,
      .o-nav-sticky .nav-section:hover .nav-items {
        display: none
      }
      .nav-section[aria-selected=true] .nav-items {
        display: inline;
        height: 30px;
        -webkit-transition: height .3s;
        transition: height .3s
      }
      .o-nav-sticky .nav-section[aria-selected=true] .nav-items {
        height: 0;
        overflow: hidden
      }
    }

    @media (min-width:61.25em) {
      .nav-item {
        box-sizing: border-box;
        position: relative;
        min-width: 100%;
        display: block;
        border-top: 1px solid #666
      }
      .nav-section[aria-selected=true] .nav-item {
        display: inline-block;
        width: auto;
        min-width: 0;
        border: 0
      }
      .nav-item.mobile,
      .nav-section[aria-selected=true] .nav-item.mobile {
        display: none
      }
    }

    @media (min-width:61.25em) {
      .nav-link {
        margin: 0;
        display: block;
        word-break: keep-all;
        white-space: nowrap;
        line-height: 30px;
        height: 30px;
        font-size: 14px;
        cursor: pointer;
        color: #fff;
        padding: 0 25px 0 15px;
        position: relative
      }
      .nav-section[aria-selected=true] .nav-link {
        padding: 0 6px
      }
      .nav-item[aria-selected=true] .nav-link,
      .nav-link:hover {
        background-color: #27757b;
        color: #fff
      }
      .nav-item[aria-haspopup=true] .nav-link:after {
        content: "";
        background-image: url(http://static.ftchinese.com/ftc-icons/png/white/arrow-down-white.png);
        background-image: url(http://static.ftchinese.com/ftc-icons/svg/white/arrow-down-white.svg);
        display: inline-block;
        width: 10px;
        height: 10px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50%;
        position: absolute;
        right: 10px;
        top: 50%;
        margin-top: -5px
      }
      .nav-section[aria-selected=true] .nav-item[aria-haspopup=true] .nav-link:after {
        position: static;
        right: auto;
        top: auto;
        margin: 0 0 0 5px
      }
      .nav-item[aria-haspopup=true] .nav-link:hover:after,
      .nav-item[aria-haspopup=true]:hover .nav-link:after {
        background-image: url(http://static.ftchinese.com/ftc-icons/png/white/arrow-right-white.png);
        background-image: url(http://static.ftchinese.com/ftc-icons/svg/white/arrow-right-white.svg)
      }
      .nav-section[aria-selected=true] .nav-item[aria-haspopup=true] .nav-link:hover:after,
      .nav-section[aria-selected=true] .nav-item[aria-haspopup=true]:hover .nav-link:after {
        background-image: url(http://static.ftchinese.com/ftc-icons/png/white/arrow-up-white.png);
        background-image: url(http://static.ftchinese.com/ftc-icons/svg/white/arrow-up-white.svg)
      }
    }

    @media (min-width:61.25em) {
      .nav-sub-items {
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: absolute;
        left: 100%;
        top: 0;
        min-width: 100%;
        display: none;
        background-color: #505050
      }
      .nav-sub-items li {
        border-top: 1px solid #666
      }
      .nav-sub-items a {
        color: #fff;
        padding: 0 20px;
        height: 30px;
        line-height: 30px;
        font-size: 12px;
        display: block;
        text-decoration: none;
        white-space: nowrap
      }
      .nav-sub-items a:hover {
        background-color: #27757b
      }
      .nav-item:hover .nav-sub-items,
      .nav-link:hover~.nav-sub-items {
        display: block
      }
      .nav-section[aria-selected=true] .nav-sub-items {
        left: 0;
        top: 100%
      }
    }

    .o-nav__extra-tools {
      display: none;
      list-style-type: none;
      margin: 0;
      padding: 0
    }

    @media (min-width:76.25em) {
      .o-nav__extra-tools {
        display: block;
        height: 30px;
        -webkit-transition: height .3s;
        transition: height .3s;
        position: absolute;
        right: 0;
        top: 100%;
        z-index: 10
      }
      .o-nav-sticky .o-nav__extra-tools {
        height: 0;
        overflow: hidden
      }
      .o-nav__extra-tools .tools-section {
        display: inline-block;
        position: relative;
        height: 30px
      }
      .o-nav__extra-tools .tools-section[aria-haspopup=true] .tools-section-head:after {
        content: "";
        padding-left: 5px;
        background-image: url(http://static.ftchinese.com/ftc-icons/png/white/arrow-down-white.png);
        background-image: url(http://static.ftchinese.com/ftc-icons/svg/white/arrow-down-white.svg);
        display: inline-block;
        width: 10px;
        height: 10px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50%
      }
      .o-nav__extra-tools .tools-section-head {
        text-decoration: none;
        display: block;
        word-break: keep-all;
        white-space: nowrap;
        line-height: 30px;
        font-size: 14px;
        color: #fff;
        padding: 0 5px 0 0
      }
      .o-nav__extra-tools .follow__rss span {
        text-indent: -999em;
        background-image: url(http://static.ftchinese.com/ftc-icons/png/rss.png);
        background-image: url(http://static.ftchinese.com/ftc-icons/svg/rss.svg);
        display: inline-block;
        width: 20px;
        height: 20px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50%;
        display: block;
        height: 30px
      }
      .o-nav__extra-tools .tools-section-head:hover:after,
      .o-nav__extra-tools .tools-section:hover .tools-section-head:after {
        background-image: url(http://static.ftchinese.com/ftc-icons/png/white/arrow-up-white.png);
        background-image: url(http://static.ftchinese.com/ftc-icons/svg/white/arrow-up-white.svg)
      }
      .o-nav__extra-tools .tools-items {
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: absolute;
        right: 0;
        min-width: 100%;
        z-index: 1;
        display: none;
        background-color: #505050
      }
      .o-nav__extra-tools .tools-items li {
        border-top: 1px solid #666
      }
      .o-nav__extra-tools .tools-items a {
        color: #fff;
        padding: 0 10px;
        height: 30px;
        line-height: 30px;
        font-size: 12px;
        display: block;
        text-decoration: none;
        white-space: nowrap
      }
      .o-nav__extra-tools .tools-items a:hover {
        background-color: #27757b
      }
      .o-nav__extra-tools .tools-section-head:hover~.tools-items,
      .o-nav__extra-tools .tools-section:hover .tools-items {
        z-index: 5;
        display: block
      }
    }

    @media (max-width:61.24em) {
      .o-nav__placeholder {
        position: relative
      }
    }

    .current-page {
      position: absolute;
      left: 0;
      bottom: 0
    }

    .o-nav__search {
      z-index: 10;
      height: 44px;
      float: right
    }

    .o-nav__search,
    .o-nav__search button {
      background-color: transparent;
      box-sizing: border-box;
      padding: 0;
      margin: 0;
      width: 44px
    }

    .o-nav__search button {
      border: none;
      outline: none;
      cursor: pointer;
      text-align: center;
      height: 100%
    }

    .o-nav__search button span {
      color: #fff
    }

    .o-nav__search-toggle {
      width: 44px;
      height: 44px;
      display: inline-block;
      position: relative;
      z-index: 10
    }

    .o-nav__search-toggle .search-toggle--close,
    .o-nav__search-toggle .search-toggle--open {
      display: none
    }

    .o-nav__search-toggle:after {
      content: "";
      vertical-align: middle;
      background-image: url(http://static.ftchinese.com/ftc-icons/png/white/search-white.png);
      background-image: url(http://static.ftchinese.com/ftc-icons/svg/white/search-white.svg)
    }

    .o-nav__search-toggle:after,
    .o-nav__search-toggle[aria-expanded=true]:after {
      display: inline-block;
      width: 20px;
      height: 20px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50%
    }

    .o-nav__search-toggle[aria-expanded=true]:after {
      background-image: url(http://static.ftchinese.com/ftc-icons/png/white/cross-white.png);
      background-image: url(http://static.ftchinese.com/ftc-icons/svg/white/cross-white.svg)
    }

    #search-form {
      box-sizing: border-box;
      background-color: #333;
      padding: 0 44px;
      position: absolute;
      top: 0;
      right: -10px;
      z-index: 9;
      height: 44px;
      width: 0;
      visibility: hidden
    }

    #search-form[aria-hidden=false] {
      width: 100%;
      right: 44px;
      visibility: visible
    }

    .search-input {
      box-sizing: border-box;
      color: #fff;
      background-color: transparent;
      border: 1px solid transparent;
      border-radius: 0;
      margin: 0 0 0 44px;
      padding: 2px 26px 1px 12px;
      height: 100%;
      outline: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      font-size: inherit;
      display: block;
      cursor: text;
      width: 100%;
      background-color: #333;
      border: 1px solid #a7a59b;
      padding-right: 49px;
      padding-left: 5px;
      -webkit-transition: width .2s;
      transition: width .2s
    }

    .search-button {
      position: absolute;
      left: 44px;
      top: 0
    }

    .search-button:after {
      content: "";
      vertical-align: middle;
      background-image: url(http://static.ftchinese.com/ftc-icons/png/white/search-white.png);
      background-image: url(http://static.ftchinese.com/ftc-icons/svg/white/search-white.svg);
      display: inline-block;
      width: 20px;
      height: 20px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50%
    }

    .search-button span {
      display: none;
      z-index: 0
    }

    .bn-ph {
      position: relative;
      height: 90px;
      margin-bottom: 60px
    }

    .banner-container {
      width: 100%
    }