<!DOCTYPE html>
<html class="core" lang="zh-Hans">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>会员订阅 - FT中文网</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="copyright" content="FT中文网">
	<meta name="robots" content="index,follow">
	<meta name="author" content=""> 
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="default" />
	<meta property="og:locale" content="zh-Hans">
	<meta property="og:site_name" content="FT中文网">

    <link inline rel="stylesheet" type="text/css" href="styles/editorchoice.css">

</head>
<body>




<div class="channel-iap" id="channelScroller" style="overflow-y: scroll;">
    <div id="channelContent">
        <div id="head" onclick="switchNavOverlay()">
            <div class="header">
                <div class="channeltitle">[channelTitle]</div>
            </div>
        </div>






<div class="layout-a_region-3">
    <div class="inner">
        <div class="container">
            <div product-id="ftc_premium" class="iap-item oneStory iap-member iap-member__undefined track-click" eventlabel="iap-detail: 0">
                <div class="headline">标准会员</div>
                <ul class="iap-benefits">
                    <li>- 精选深度分析</li>
                    <li>- 中英双语内容</li>
                    <li>- 金融英语速读训练</li>
                    <li>- 英语原声电台</li>
                    <li>- 无限浏览7日前所有历史文章（近8万篇）</li>
                </ul>
                <div class="iap-button" product-id="ftc_premium" product-price="¥198.00" product-title="标准会员">
                    <a onclick="ftjavacriptapp.payzfb('FT0109831523596303','0.01','9270d53f-ac4b-4184-afae-42cacce12193','标准会员')">
                        <button class="iap-move-left">订阅</button>
                    </a>
                    <p class="iap-teaser">¥198.00/年</p>
                </div>
            </div>
            <div class="clearfloat"></div>
            <div product-id="ftc_standard" class="iap-item oneStory iap-member iap-member__undefined track-click" eventlabel="iap-detail: 1">
                <div class="headline">高端会员</div>
                <ul class="iap-benefits">
                    <li>- 享受“标准会员”所有权益</li>
                    <li>- 编辑精选，总编/各版块主编每周五为您推荐本周必读资讯，分享他们的思考与观点</li>
                    <li>- FT中文网2018年度论坛门票2张，价值3999元/张 （不含差旅与食宿）</li>
                </ul>
                <div class="iap-button" product-id="ftc_standard" product-price="¥1,998.00" product-title="高端会员">
                    <a onclick="ftjavacriptapp.payzfb('FT1005171523596303','0.01','9270d53f-ac4b-4184-afae-42cacce12193','高端会员')">
                        <button class="iap-move-left">订阅</button>
                    </a>
                    <p class="iap-teaser">¥1,998.00/年</p>
                </div>
            </div>
            <div class="clearfloat"></div>
        </div>
    </div>
</div>

<div class="layout-a_region-3">
    <div class="inner">
        <div class="container">
            <div class="iap-intruction">
                <div class="headline">订阅说明与注意事项</div>
                <div class="hint-headline">订阅价格与周期</div>
                <div class="hint-content">您可以在应用内订阅《FT中文网会员》和《FT中文网高端会员》两种服务。《FT中文网会员》每年订阅价格为 198元（$28.99），订阅后您可以解锁阅读FT中文网每日新增的两篇独家文章内容，以及解锁双语文章的英语语音服务。《FT中文网高端会员》每年订阅价格为 1998元（$294.99），订阅后您可以解锁《FT中文网会员》提供的所有服务，再加上每周的《编辑精选》周刊。
                </div>

                <div class="more-service">
                    <div class="hint-headline">更多服务与信息</div>
                    <div class="policy" url="http://www.ftchinese.com/m/corp/privacy-policy.html?ad=no">隐私申明<span>></span>
                    </div>
                    <div class="policy" url="http://www.ftchinese.com/m/corp/service.html?ad=no">用户协议<span>></span>
                    </div>
                    <div class="policy" url="http://www.ftchinese.com/m/corp/faq.html?ad=no">反馈<span>></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


        <!--<div class="copyright"><b><font face="arial">© </font>英国金融时报</b> 有限公司 <font face="arial">2018</font>&nbsp;&nbsp;<span><acronym title="Financial Times">FT中文网</acronym>为英国金融时报的注册商标</span>
        </div>-->
    </div>
</div>

</body>
</html>