{% extends "base.html" %}

{% block body%}
<div class="welcome-guide">
  <div class="words">
    <div>欢迎进入FT中文网会员专属服务频道</div>
    <div>本频道是为更好服务FT中文网会员朋友们而设立的，是FT中文网与会员朋友之间沟通与交流的平台。在这里您将了解到FT中文网为会员提供的最新专属服务。</div>
  </div>
  <div class="show-image">
    <img src="http://i.ftimg.net/picture/6/000068886_piclink.jpg" alt="" width="30%"/>
  </div>
  <div class="clear-class"></div>
</div>

<div id="preview-overlay">
</div>

  <div id="site-content" class="o-grid-container">
    <div class="o-member__heading">
      <p>请选择您的订阅方式。<span class="o-member__login">已经是会员，请<a href="http://user.ftchinese.com/login" onclick="event.preventDefault(); showOverlay('overlay-login')">点击这里</a></span></p>
    </div>
    
    <div class="o-grid-row" data-flex-container>
      {% for product in products %}
      <div class="o-member o-member__{{product.type}}" data-flex-item>
        <h2 class="o-member__title">{{product.title}}</h2>

        <ul class="o-member__benefits">
          {% for benefit in product.benefits %}
          <li>{{benefit}}</li>
          {% endfor %}
        </ul> 
        <div class="o-member__subscribe">
          <p>{{product.teaser}} {{product.price}}</p>
          <input type="button" id="openSub" class="openSub"value="立即订阅"/>
        </div>         
      </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}