<!DOCTYPE html>
<html class="no-js core" data-next-app="front-page">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>会员订阅 - FT中文网</title>
     <meta http-equiv="Content-Language" content="zh-CN"/>
     <meta content="<%$p.meta.description%>" name="description"/>
     <meta name="apple-mobile-web-app-status-bar-style" content="black" />
     <link rel="apple-touch-icon-precomposed" href="http://static.ftchinese.com/img/ipad_icon.png" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <link rel="preconnect" href="http://static.ftchinese.com" />
     <link rel="preconnect" href="http://i.ftimg.net" />

      <script   src="http://static.ftchinese.com/js/jquery-1.10.2.min.js?0"></script>

   

      <link rel="stylesheet" href="styles/main.css">

</head>
<body>


<div class="block-container has-side story-page">
  <div class="block-inner">
<div class="content-container centerClass">

<div class="welcome-guide">
  <div class="words">
    <div class="first"><strong>欢迎进入FT中文网会员专属服务频道</strong></div>
    <div class="second">本频道是为更好服务FT中文网会员朋友们而设立的，是FT中文网与会员朋友之间沟通与交流的平台。在这里您将了解到FT中文网为会员提供的最新专属服务。</div>
  </div>
  <div class="show-image">
    <img src="http://i.ftimg.net/picture/6/000068886_piclink.jpg" />
  </div>
  <div class="clear-class"></div>
</div>

<div id="payment-page">
</div>

  <div id="site-content" class="o-grid-container">
    <div class="o-member__heading">
      <p>请选择您的订阅方式。<span class="o-member__login">已经是会员，请<a href="http://user.ftchinese.com/login" >点击这里</a></span></p>
    </div>


    
    <div class="o-grid-row" >
      
      <div class="o-member o-member__premium" >
        <h2 class="o-member__title">会员</h2>
        <div class="o-member__border"></div>
        <ul class="o-member__benefits">
          
          <li>阅读FT中文网所有独家内容</li>
          
          <li>收听英文文章音频</li>
          
        </ul> 
        <div class="o-member__subscribe">
          
          <button id="openSub" class="openSub">立即订阅</button>
          <p> CN¥198.00/年*</p>
          
        </div>         
      </div>
      
      <div class="o-member o-member__standard" >
        <h2 class="o-member__title">高端会员</h2>
        <div class="o-member__border"></div>
        <ul class="o-member__benefits">
          
          <li>《FT编辑精选》，每周不可错过的独家必读内容</li>
          
          <li>获得两张价值3999元的FT中文网年会门票</li>
          
          <li>阅读FT中文网所有独家内容</li>
          
          <li>收听英文文章音频</li>
          
        </ul> 
        <div class="o-member__subscribe">
          
          <button id="openSub" class="openSub">立即订阅</button>
          <p>CN¥1,998.00/年</p>
          <!--<input type="button" id="openSub" class="openSub"value="立即订阅"/>-->
        </div>         
      </div>
      
    </div>
  </div>
</div>
</div>
</div>

<script type="text/javascript">
  var aLi = document.querySelectorAll('.openSub');

  var paymentPage = document.getElementById('payment-page');
  var paymentShadow = document.getElementById('payment-shadow');

  var handler = function(event){

      var previewHTML = '<div id="payment-shadow" class="o-overlay-shadow fadeIn"></div><div id="payment-box" class="rightanswer show o-overlay__arrow-top fadeInRight"><div class="payment-title">欢迎订阅FT会员服务</div><div class="payment-way"><div class="payment-name"><span>商品名称：</span><span class="payment-type"><strong>FT会员</strong></span></div><div class="payment-method"><span>支付方式：</span><label class="mode"><input name="pay" type="radio" value="" /><img src="http://static.ftchinese.com/img/pay-ali.jpg" /> </label><label><input name="pay" type="radio" value="" /><img src="http://static.ftchinese.com/img/pay-wxpay.jpg" /></label></div></div><div class="pay-action"><label>支付金额 ￥198/年</label><button  class="to-pay" id="to-pay">确定支付</button></div></div>';
      paymentPage.innerHTML = previewHTML;
  };

  for (var i = 0; i < aLi.length; i++) {
      if (window.addEventListener){
          aLi[i].addEventListener("click",handler,false);
      }else if (window.attachEvent){
          aLi[i].attachEvent("onclick",handler);
      }
  }



  $('body').on('click', '#to-pay', function () {
      $('#payment-page').empty();
  });

</script>



</body>
</html>



<!--
<header class="section-header">
     <div class="section-header__text">
   <h2>Frequently Asked Questions</h2>
 </div>
</header>
<section>
  <div class="o-tabs-container">
      <div class="o-grid-container">
         <div class="o-grid-row">
            <div data-o-grid-colspan="12 S12">
               <ul id="faq_tabs" data-o-component="o-tabs" class="o-tabs o-tabs--buttontabs o-tabs--test" role="tablist" data-o-tabs--js="">
                  <li role="tab" aria-selected="true" aria-controls="tabContent1" tabindex="0">
                    <a href="#tabContent1" tabindex="-1" id="tabContent1-label">All</a>
                  </li>
                  <li role="tab" aria-controls="tabContent2" tabindex="0" aria-selected="false">
                    <a href="#tabContent2" tabindex="-1" id="tabContent2-label">Digital Subscriptions</a>
                  </li>
                  <li role="tab" aria-controls="tabContent3" tabindex="0" aria-selected="false">
                    <a href="#tabContent3" tabindex="-1" id="tabContent3-label">Print Subscriptions</a>
                  </li>
               </ul>
               <div class="o-forms o-forms--faqs">
              	<select id="o-forms__select-standard" class="o-forms__select" data-linkedotabs="faq_tabs">
              	  <option data-tabindex="0" value="tabContent1" selected="">All</option>
                  <option data-tabindex="1" value="tabContent2">Digital Subscriptions</option>
                  <option data-tabindex="2" value="tabContent3">Print Subscriptions</option>
                </select>
              </div>
            </div>
         </div>
      </div>
   </div>-->

<!--<div  class="o-expander" id="tabContent1" aria-expanded="true" aria-hidden="false">

  <div class="o-grid-container">
    <div class="o-grid-row">
      <div data-o-grid-colspan="12 S12">

      <div class="toggle" id="toggle">

          <a class="o-expander__toggle" aria-controls="o-expander__one" aria-expanded="false">What is the ePaper and how can I access it?<i></i>
          </a>

      </div>

        </div>
      </div>
    </div>

    <div class="o-expander__content"  aria-hidden="false">
      <div class="o-grid-container">
            <div class="o-grid-row">
              <div data-o-grid-colspan="12 S12">
                  <div class="content">
                    <p class="o-typography-body"> The FT ePaper is an exact digital replica of the printed newspaper - available from 6am GMT on your laptop, desktop and now also available as a web app, optimised for iPhone, iPad and Android devices. The ePaper is exclusively available to all newspaper and premium digital subscribers.</p>
                  </div>
              </div>
            </div>
        </div>
    </div>

  </div>
</section>-->



    <div class="iap-intruction">


        <div class="headline">订阅说明与注意事项</div>
        
        <div class="hint-container">
            <div class="hint-headline hint-box">订阅价格与周期</div>
            <div class="hint-content">您可以在应用或者网址内订阅《FT中文网会员》和《FT中文网高端会员》两种服务。《FT中文网会员》每年订阅价格为 198元（$28.99），订阅后您可以解锁阅读FT中文网每日新增的两篇独家文章内容，以及解锁双语文章的英语语音服务。《FT中文网高端会员》每年订阅价格为 1998元（$294.99），订阅后您可以解锁《FT中文网会员》提供的所有服务，再加上每周的《编辑精选》周刊。
            </div>
        </div>
        <div class="hint-container">
            <div class="hint-headline hint-box">付费方式</div>
            <div class="hint-content">购买流程完全由Apple完成。您将通过Apple的iTunes账号，在确认购买成功之后完成支付。根据Apple的规定，在购买成功之后，您之前的试用期限（如果有）将被清零。
            </div>
        </div>

        <div class="hint-container">
            <div class="hint-headline">更多服务与信息</div>
            <div class="policy"><a href="http://www.ftchinese.com/m/corp/privacy-policy.html?ad=no">隐私申明</a><span>></span></div>
            <div class="policy"><a href="http://www.ftchinese.com/m/corp/service.html?ad=no">用户协议</a><span>></span></div>
            <div class="policy"><a href="http://www.ftchinese.com/m/corp/faq.html?ad=no">反馈</a><span>></span></div>
        </div>
    </div>