<!--<header class="section-header">
     <div class="section-header__text">
   <h2>Frequently Asked Questions</h2>
 </div>
</header>
<section class="o-section">
  <div class="o-tabs-container">

              <ul id="faq_tabs" data-o-component="o-tabs" class="o-tabs o-tabs--buttontabs o-tabs--test" role="tablist" data-o-tabs--js="">
                <li role="tab" aria-selected="true" aria-controls="tabContent1" tabindex="0">
                  <a href="#tabContent1" tabindex="-1" id="tabContent1-label">All</a>
                </li>
                <li role="tab" aria-controls="tabContent2" tabindex="0" aria-selected="false">
                  <a href="#tabContent2" tabindex="-1" id="tabContent2-label">Digital Subscriptions</a>
                </li>
                <li role="tab" aria-controls="tabContent3" tabindex="0" aria-selected="false">
                  <a href="#tabContent3" tabindex="-1" id="tabContent3-label">Print Subscriptions</a>
                </li>
              </ul>
              <div class="o-forms o-forms--faqs">
              <select id="o-forms__select-standard" class="o-forms__select" data-linkedotabs="faq_tabs">
                <option data-tabindex="0" value="tabContent1" selected="">All</option>
                <option data-tabindex="1" value="tabContent2">Digital Subscriptions</option>
                <option data-tabindex="2" value="tabContent3">Print Subscriptions</option>
              </select>
            </div>

   </div>

 <div class="o-expander" id="o-expander" aria-expanded="true" aria-hidden="false">
    <div class="toggle" aria-expanded="true">
        <a class="o-expander__toggle" aria-controls="o-expander__one">What is the ePaper and how can I access it?<i>11</i>
        </a>
    </div>

    <div class="o-expander__content"  aria-hidden="false">
        <div class="o-content">
            <p class="o-content_body"> The FT ePaper is an exact digital replica of the printed newspaper - available from 6am GMT on your laptop, desktop and now also available as a web app, optimised for iPhone, iPad and Android devices. The ePaper is exclusively available to all newspaper and premium digital subscribers.</p>
          </div>
      </div>
  </div>
</section>-->