<!DOCTYPE html>
<html class="no-js core" data-next-app="front-page">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>订阅成功 - FT中文网</title>
  <meta http-equiv="Content-Language" content="zh-CN"/>
  <meta content="订阅成功" name="description"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <link rel="apple-touch-icon-precomposed" href="http://static.ftchinese.com/img/ipad_icon.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- MARK: Important: Need to add Google Analytics load events manually -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m);a.onload=function(){if(typeof clearEvents==='function'){clearEvents()}}
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-1608715-1', 'auto');
  ga('require', 'displayfeatures');

//   ga('require', 'ecommerce');
  ga('require', 'ec');
  </script>
<!-- End Google Analytics -->




<link inline rel="stylesheet" type="text/css" href="styles/status.css">


</head>

<body  id="bodyId">

  <HEADER class="header-container">
    <DIV class="header-inner">
      <DIV class="header-title">FT中文网</DIV>
      <DIV class="header-side header-left" style="display: none;">
        <DIV class="header-brand">
          <FIGURE class="loading" data-url="http://static.ftchinese.com/images/masthead36.png"></FIGURE>
        </DIV>
      </DIV>

    </DIV>
  </HEADER>

  <div class = "notice-container">  
    <div class="hint-word"><span class="hint-img"></span><span class="hint-content" id="hint-content">恭喜您，订阅成功！</span></div>
    <div class="hint-word hint-time"><span class="time" id="time">5</span>秒跳转</div>
    <div  class="return-btn" id="returnTo"><button>返回</button></div>
  </div>

<script>
    var today = new Date();
    var y = today.getFullYear();
    var m = zeroFix(today.getMonth() + 1);
    var d = zeroFix(today.getDate());

    function zeroFix(n) {
        return (n < 10) ? '0' + n : n;
    }

    if (window.gAutoStart === undefined) {
        (function(d, s, u, j, x) {
            j = d.createElement(s),
                x = d.getElementsByTagName(s)[0];
            j.async = true;
            j.src = u;
            x.parentNode.insertBefore(j, x)
        })(document, 'script', 'http://static.ftchinese.com/js/log.js?' + y + m + d);
    }

</script>


<script inline src="scripts/notice.js"></script>
</body>
</html>