<!DOCTYPE html>
<html class="no-js core" data-next-app="front-page">
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>订阅成功 - FT中文网</title>
    <meta http-equiv="Content-Language" content="zh-CN"/>
    <meta content="订阅成功" name="description"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon-precomposed" href="https://dhgxl8qk9zgzr.cloudfront.net/img/ipad_icon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

<script inline src="scripts/key.js"></script>

<link inline rel="stylesheet" type="text/css" href="styles/status.css">

</head>

<body id="bodyId">

<header class="header-container">
    <div class="header-inner">
        <div class="header-title">会员订阅</div>
        <div class="header-side header-left" style="display: none;">
            <div class="header-brand">
                <figure class="loading" data-url="https://dhgxl8qk9zgzr.cloudfront.net/images/masthead36.png"></figure>
            </div>
        </div>
    </div>
</header>

<div class="payment-info-container">
    <div class="payment-info-inner notice-container">
        <div class="hint-word"><span class="hint-img"></span><span class="hint-content" id="hint-content">恭喜您订阅成功！</span></div>
        <!--
        <div class="return-btn" id="returnTo"><button>返回</button></div>
        -->
        <div class="return-btn" id="infoConfirm"><button>确认信息</button></div>
    </div>
</div>

<div class="payment-info-container">
    <div class="payment-info-inner">
        <div>交易单号：<span id="order-number"></span></div>
        <div>已支付金额：<span id="payment-amount"></span>元</div>
        <div style="display:none">会员类型：<span id="member-type-name"></span></div>
        <div style="display:none">有效期至：<span id="expire-date">-</span></div>
    </div>
</div>

<div class="payment-info-container">
    <div class="payment-info-inner">
        <div class="product-title">如何行使订阅权限</div>
        <div>
            ——iPhone或iPad，请到苹果的App Store搜索并下载“FT中文网”App；<br>
            <!--
            ——安卓手机，请下载并安装付费会员专用的FT中文网安卓应用；<br>
            -->
            ——安卓手机，请到华为应用市场搜索并下载“FT中文网”App，或联系我们的客服以获取最新版安卓安装程序；<br>
            ——您也可以在电脑上访问付费会员专用网址：<a id="vip_url" href="http://www.chineseft.com/">www.chineseft.com</a>。使用您购买订阅时登录FT中文网的帐号在电脑端登录后，即可解锁付费资讯。<br>
            ——客服电话/微信：<a href="tel: 18501972480">18501972480</a><br><br>
        </div>
        <div><a href="subscription.html#faq">常见问题请点击此处</a></div>
    </div>
</div>

<div class="payment-info-container">
    <div class="payment-info-inner product-benefits-container">{% for product in products %}
        <div class="product-container {{product.type.replace(' ', '')}}">
            <div class="product-title">{{product.title}}权益：</div>
            <ul>{% for benefit in product.benefits %}
                <li> {{benefit}}</li>{% endfor %}
            </ul>
            <div class="note">{{product.note}}</div>
        </div>{% endfor %}
    </div>
</div>

<script>
var today = new Date();
var y = today.getFullYear();
var m = zeroFix(today.getMonth() + 1);
var d = zeroFix(today.getDate());

function zeroFix(n) {
    return (n < 10) ? '0' + n : n;
}

if (window.gAutoStart === undefined) {
    (function(d, s, u, j, x) {
        j = d.createElement(s),
            x = d.getElementsByTagName(s)[0];
        j.async = true;
        j.src = u;
        x.parentNode.insertBefore(j, x)
    })(document, 'script', 'https://dhgxl8qk9zgzr.cloudfront.net/js/log.js?' + y + m + d);
}
</script>

<script inline src="scripts/notice.js"></script>

</body>
</html>