<!DOCTYPE html>
<html class="no-js core" data-next-app="front-page">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>会员订阅 - FT中文网</title>
  <meta http-equiv="Content-Language" content="zh-CN"/>
  <meta content="会员订阅" name="description"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <link rel="apple-touch-icon-precomposed" href="http://static.ftchinese.com/img/ipad_icon.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- MARK: Important: Need to add Google Analytics load events manually -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m);a.onload=function(){if(typeof clearEvents==='function'){clearEvents()}}
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-1608715-1', 'auto');
  ga('require', 'displayfeatures');
  try {
    ga('send', 'pageview',window.location.href);
  }catch(err){
  
  }
 
  </script>
<!-- End Google Analytics -->



  <link inline rel="stylesheet" type="text/css" href="styles/main.css">
  
</head>

<body>
  {% include "header.html" %}
  <div class = "container">

    <div class="hint" id="hint">
        <div class="hint-text">
            <span id="hint-word">请点击右上角使用手机浏览器打开</span>
            <div class="triangle-down"></div>
            <div class="triangle-up"></div>
        </div>
        
    </div>

  <div class="welcome-guide width-cls">
    <div class="show-image"></div>
    <div class="words">
      <div class="first"><strong>FT中文网会员订阅服务，欢迎您！</strong></div>
      <div class="second">希望全球视野的FT中文网，能够引发你的思考，与你一道从更高的山顶观察世界，见他人之未见！</div>
    </div>
    <div class="clear-class"></div>
  </div>
</div>



<div id="payment-page">
</div>

<div id="site-content" class="o-member-container">
  <div class="o-member__heading">
    <p>请选择您的订阅方式</p>
  </div>

  <div class="o-member-row" >
    
    <div class="o-member o-member__standard" >
      <div class="o-member_content" >
        <h2 class="o-member__title">标准会员</h2>
        <div class="o-member__border"></div>
        <ul class="o-member__benefits">
          
          <li>精选深度分析</li>
          
          <li>中英双语内容</li>

          <li>金融英语速读训练</li>
          
          <li>英语原声电台</li>

          <li>无限浏览7日前所有历史文章（近8万篇）</li>
        </ul> 
        <div class="o-member__subscribe">
          <button  class="openSub" id="standard-btn">立即订阅</button>
          <p> ¥198.00/年</p>
          
          <input type="text" value="¥198.00/年" hidden id="regular-member">
        </div>     
      </div>    
    </div>
    
    <div class="o-member o-member__premium" >
      <div class="o-member_content" >
        <h2 class="o-member__title">高端会员</h2>
        <div class="o-member__border"></div>
        <ul class="o-member__benefits">
          
          <li>享受“标准会员”所有权益</li>
          
          <li>编辑精选，总编/各版块主编每周五为您推荐本周必读资讯，分享他们的思考与观点</li>
          
          <li>FT中文网2018年度论坛门票2张，价值3999元/张 （不含差旅与食宿）</li>
          
          
        </ul> 
        <div class="o-member__subscribe">
          
          <button class="openSub" id="premium-btn">立即订阅</button>
          <p id="premium_price">¥1,998.00/年</p>
          <input type="text" value="¥1,998.00/年" hidden>
        </div>  
      </div>  

    </div>
    
  </div>
</div>

{% include "QandA.html" %}
{% include "footer.html" %}


<!--第一个tab 内容结束--><!--第一个tab 内容-->
<script inline src="scripts/main.js"></script>

<script>
    var today = new Date();
    var y = today.getFullYear();
    var m = zeroFix(today.getMonth() + 1);
    var d = zeroFix(today.getDate());

    function zeroFix(n) {
        return (n < 10) ? '0' + n : n;
    }

    if (window.gAutoStart === undefined) {
        (function(d, s, u, j, x) {
            j = d.createElement(s),
                x = d.getElementsByTagName(s)[0];
            j.async = true;
            j.src = u;
            x.parentNode.insertBefore(j, x)
        })(document, 'script', 'http://static.ftchinese.com/js/log.js?' + y + m + d);
    }
</script>


</body>
</html>