<!DOCTYPE html>
<html class="core" lang="zh-Hans">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>会员订阅 - FT中文网</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="copyright" content="FT中文网">
	<meta name="robots" content="index,follow">
	<meta name="author" content=""> 
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="default" />
	<meta property="og:locale" content="zh-Hans">
	<meta property="og:site_name" content="FT中文网">
    <link inline rel="stylesheet" type="text/css" href="styles/main.css">

</script>




</head>
<body>



  
  <div id="site-content" class="o-grid-container">
    <div class="o-member__heading">
      <p>请选择您的订阅方式。<span class="o-member__login">已经是会员，请<a href="http://user.ftchinese.com/login" onclick="event.preventDefault(); showOverlay('overlay-login')">点击这里</a></span></p>
    </div>
    
    <div class="o-grid-row" data-flex-container>
      
      <div class="o-member o-member__premium" data-flex-item>
        <h2 class="o-member__title">高端会员</h2>
        <div class="o-member__subscribe">
          <p> CN¥1,298.00/年</p>
          <a href="#">现在订阅</a>
        </div> 
        <div>
          <img src="http://i.ftimg.net/picture/6/000068886_piclink.jpg" alt="" width="100%">
        </div>
        <ul class="o-member__benefits">
          
          <li>阅读FT中文网所有独家内容</li>
          
          <li>收听英文文章音频</li>
           
        </ul>         
      </div>
      

      <div class="o-member o-member__trial" data-flex-item>
        <h2 class="o-member__title">试用会员</h2>
        <div class="o-member__subscribe">
          <p>现在加入，即享会员4周畅读，只需 CN¥1.00/年</p>
          <a href="#">现在订阅</a>
        </div> 
        <div>
          <img src="http://i.ftimg.net/picture/6/000068886_piclink.jpg" alt="" width="100%">
        </div>
        <ul class="o-member__benefits">
          
          <li>《FT编辑精选》，每周不可错过的独家必读内容</li>
          
          <li>获得两张价值3999元的FT中文网年会名票</li>
          
          <li>阅读FT中文网所有独家内容</li>
          
          <li>收听英文文章音频</li>
          
        </ul>         
      </div>
      
    </div>
  </div>





<script inline type="text/javascript" src="scripts/main.js"></script>

</body>
</html>