<!DOCTYPE html>
<html class="no-js core" data-next-app="front-page">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>订阅成功 - FT中文网</title>
  <meta http-equiv="Content-Language" content="zh-CN"/>
  <meta content="订阅成功" name="description"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <link rel="apple-touch-icon-precomposed" href="http://static.ftchinese.com/img/ipad_icon.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- MARK: Important: Need to add Google Analytics load events manually -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m);a.onload=function(){if(typeof clearEvents==='function'){clearEvents()}}
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-1608715-1', 'auto');
  ga('require', 'displayfeatures');

  ga('require', 'ecommerce');
 
  </script>
<!-- End Google Analytics -->

<script>
    function GetCookie(name){
        var start = document.cookie.indexOf(name+'='),
            len = start+name.length+1,
            end = document.cookie.indexOf(';',len);
        if ((!start) && (name !== document.cookie.substring(0,name.length))) {return null;}
        if (start === -1) {return null;}
        if (end === -1) {end = document.cookie.length; }
        return decodeURIComponent(document.cookie.substring(len,end));
    };

    function parseUrlSearch(){
        var para = location.search.substring(1);
        para = decodeURIComponent(para);
        var paraArr = para.split('&');
        return paraArr;
    }
    
    var eventAction = '';
    var paraArr = parseUrlSearch();
    if (paraArr && paraArr.length>0){
          var arr = paraArr[0].split('=');
          eventAction = arr[1] ;
    }

    var SELabel = GetCookie('SELabel')||'';

    if(SELabel.indexOf('/IOSCL/')>-1){
        var clParaArr = SELabel.split('/IOSCL/');
        ga('send','event',clParaArr[0], 'Buy Success:'+eventAction, clParaArr[1]);
    }else{
        ga('send','event','Web Privileges', 'Buy Success:'+eventAction, SELabel);
    }
    // TODO:get actual price
    var price = '';
    price = (eventAction === 'Premium') ? '1998' : '199';
    var randomVal = Math.round(Math.random()*899)+100;
    var tradeNo = GetCookie('trade_no')||randomVal;
    ga('ecommerce:addTransaction', {
    'id': tradeNo,                     // Transaction ID. Required.
    'affiliation': SELabel,   // Affiliation or store name.
    'revenue': price,               // Grand Total.
    'shipping': '0',                  // Shipping.
    'tax': '0' ,
    'currency': 'CNY'                     // Tax.
    });

    ga('ecommerce:addItem', {
    'id': tradeNo,                     // Transaction ID. Required.
    'name': eventAction,    // Product name. Required.
    'sku': eventAction,                 // SKU/code.
    'category': 'Subscription',         // Category or variation.
    'price': price,                 // Unit price.
    'quantity': '1'                   // Quantity.
    });

    ga('ecommerce:send');
    
</script>

<link inline rel="stylesheet" type="text/css" href="styles/status.css">


</head>

<body onload="time()" id="bodyId">

  <HEADER class="header-container">
    <DIV class="header-inner">
      <DIV class="header-title">FT中文网</DIV>
      <DIV class="header-side header-left" style="display: none;">
        <DIV class="header-brand">
          <FIGURE class="loading" data-url="http://static.ftchinese.com/images/masthead36.png"></FIGURE>
        </DIV>
      </DIV>

    </DIV>
  </HEADER>

  <div class = "notice-container">  
    <div class="hint-word"><span class="hint-img"></span><span class="hint-content" id="hint-content">恭喜您，订阅成功！</span></div>
    <div class="hint-word hint-time"><span class="time" id="time">5</span>秒跳转</div>
    <div  class="return-btn"><button  id="returnTo">返回</button></div>
  </div>

<script>
    var today = new Date();
    var y = today.getFullYear();
    var m = zeroFix(today.getMonth() + 1);
    var d = zeroFix(today.getDate());

    function zeroFix(n) {
        return (n < 10) ? '0' + n : n;
    }

    if (window.gAutoStart === undefined) {
        (function(d, s, u, j, x) {
            j = d.createElement(s),
                x = d.getElementsByTagName(s)[0];
            j.async = true;
            j.src = u;
            x.parentNode.insertBefore(j, x)
        })(document, 'script', 'http://static.ftchinese.com/js/log.js?' + y + m + d);
    }

</script>


<script>

// Mark: 3秒自动跳转
   var s;
   function countDown(){
        var objTime = document.getElementById("time");//获得time的对象
        var time = objTime.innerText;//获得time的值
        time = time-1;
        objTime.innerText = time;//把新time赋给objTime里面
        if(time == 0){
          //3s过后跳转到哪里去
          var rCookie = GetCookie('R')||'';
          if(rCookie){
              var referUrl = decodeURIComponent(rCookie);
              window.location.href = referUrl;
          }else{
              window.location.href = 'http://www.ftchinese.com';
          }
          window.clear(s);//清空s，防止再次调用a()。即防止time减为负数
        }
    }

  function time(){
    s = window.setInterval("countDown()",1000);//每隔一秒自动调用a()
  }

  function returnTo(){
    var rCookie = GetCookie('R')||'';
    if(rCookie){
        var referUrl = decodeURIComponent(rCookie);
        window.open(referUrl,'_self');
    }else{
        window.open('http://www.ftchinese.com/','_self');
    }
    
}

var returnTo = document.getElementById("returnTo");
returnTo.onclick=function(){ 
    returnTo();
}
</script>
</body>
</html>