body {
  font-family: "Helvetica Neue", "Lucida Grande", Verdana, "PingFang SC", "PingFang TC", "Hiragino Sans GB", "Heiti SC", "Heiti TC", "WenQuanYi Micro Hei", "Microsoft YaHei", "Microsoft JhengHei", STHeiti, sans-serif;
  margin: 0;
  padding: 0;
  @include oColorsFor(page);
}

table {
  border-collapse: collapse;
}
td, th {
  border: 1px solid;
  padding: 0 1em;
}

p {
  margin: 0 0 0.5em 0;
}

.o-grid-container {
  @include oGridContainer;
}

.o-grid-row {
  @include oGridRow;
}

.o-grid-col {
  @include oGridColspan((default: 12, M: 6));
}

[aria-hidden="true"] {
  display: none;
}
[aria-hidden="false"] {
  display: block;
}

table {
  margin-bottom: 1em;
}